html { 
  background: url(team_background-18.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 260%;
}

/*body {
    background: url(team_background-18.png);
    width: 99%;
    height: 260%;
    background-repeat: no-repeat;
}*/

/* --------------------------------------------------------------------------- */

#logo {
    height: 10%;
    width: 10%;
    position: absolute;
    top: 4%;
    left: 3%;
}

.logo {
    width: 190px;
    height: 47px;
}

.name {
  position: absolute;
  top: 23%;
  left: 50%;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size : 110px;
  color : #E9E9FD;
  color : rgb(233, 233, 253);
  letter-spacing: 0.4px;
  transform: translate(-50%, -50%);
}

.team-vector {
	position: absolute;
    top: 47%;
    left: 2%;
    width: 1350px;
    height: 450px;
    opacity: 0.9;
}

/* --------------------------------------------------------------------------- */

/* nav bar */
nav ul {
  list-style: none;
  position: absolute;
  top: 4%;
  right: 3%;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  margin: 0 10px;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size : 23px;
  line-height : 8px;
  letter-spacing : 0.1px;
  color : #E9E9FD;
  color : rgb(233, 233, 253);
  opacity : 0.9;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  opacity: .5;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

/* --------------------------------------------------------------------------- */

#execboard-page {
	position: absolute;
	top: 100%;
	width: 99%;
	height: 100vh;
  text-align: center;
}

.name2 {
  position: absolute;
  top: 22%;
  left: 50%;
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size : 85px;
  color : #E9E9FD;
  color : rgb(233, 233, 253);
  letter-spacing: 0.4px;
  transform: translate(-50%, -50%);
}

.first3 {
  position: absolute;
  top: 43%;
  left: 9%;
  width: 1150px;
  height: 425px;
}

.exec3 {
  width: 1150px;
  height: 425px;
}

/* --------------------------------------------------------------------------- */

.smooz-icons {
  position: absolute;
  bottom: 10%;
  left: 12%;
  width: 66px;
  height: 30px;
}

/* --------------------------------------------------------------------------- */

.mel-icons {
  position: absolute;
  bottom: 10%;
  left: 46%;
  width: 95px;
  height: 30px;
}

/* --------------------------------------------------------------------------- */

.elliot-icons {
  position: absolute;
  bottom: 10%;
  right: 11%;
  width: 66px;
  height: 30px;
}

/* --------------------------------------------------------------------------- */

.second4 {
  position: absolute;
  top: 99%;
  left: 1%;
  width: 1400px;
  height: 400px;
}

.exec4 {
  width: 1410px;
  height: 395px;
}

/* --------------------------------------------------------------------------- */

.smita-icons {
  position: absolute;
  bottom: 6%;
  left: 9%;
  width: 66px;
  height: 30px;
}

/* --------------------------------------------------------------------------- */

.ronak-icons {
  position: absolute;
  bottom: 6%;
  left: 35%;
  width: 66px;
  height: 30px;
}

/* --------------------------------------------------------------------------- */

.danyal-icons {
  position: absolute;
  bottom: 6%;
  left: 59.5%;
  width: 95px;
  height: 30px;
}

/* --------------------------------------------------------------------------- */

.aurum-icons {
  position: absolute;
  bottom: 6%;
  left: 87%;
  width: 66px;
  height: 30px;
}

/* --------------------------------------------------------------------------- */

#website-with3 {
  position: absolute;
  left: 0%;
  width: 32px;
  height: 28px;
}

#linkedin-with3 {
  position: absolute;
  left: 34%;
  width: 30px;
  height: 27px;
}

#email-with3 {
  position: absolute;
  right: 0%;
  width: 33px;
  height: 30px;
}

/* --------------------------------------------------------------------------- */

#linkedin-with2 {
  position: absolute;
  left: 0%;
  width: 30px;
  height: 27px;
}

#email-with2 {
  position: absolute;
  right: 0%;
  width: 33px;
  height: 30px;
}

/* --------------------------------------------------------------------------- */

.copyright {
  position: absolute;
  bottom: 0;
  left: 41%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #D1D3D4;
  letter-spacing: -0.3px;
  opacity: 0.7;
}

/* --------------------------------------------------------------------------- */

/* custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer; 
}

/* --------------------------------------------------------------------------- */

/* Media Queries */

@media (min-width: 1600px) {
  .team-vector {
      left: 5%;
      width: 1450px;
      height: 500px;
  }

  .first3 {
    left: 14%;
  }

  .second4 {
    left: 5%;
  }
}

@media (max-width: 1350px) {

}

@media (max-width: 1290px) {

}

@media (max-width: 1220px) {

}

@media (max-width: 1200px) {
  .name2 {
    left: 51%;
    font-size : 80px;
  }
}

@media (max-width: 1150px) {
  nav ul li a {
    padding: 5px;
  }
  
  .name2 {
    font-size : 77px;
  }
}

@media (max-width: 1100px) {
  nav ul li a {
    font-size : 17px;
  }

  .name2 {
    font-size : 74px;
  }
}

@media (max-width: 1050px) {
  nav ul li a {
    font-size : 16.5px;
  }

  .name2 {
    font-size : 70px;
  }
}

@media (max-width: 1000px) {
  .name2 {
    font-size : 67px;
  }
}

@media (max-width: 900px) {
  nav ul li a {
    font-size : 16px;
    padding: 4px;
  }

  .logo {
      width: 160px;
      height: 38px;
  }
}

@media (max-width: 850px) {
  nav ul li a {
    font-size : 15.5px;
  }

  .logo {
      width: 140px;
      height: 33px;
  }

}

@media (max-width: 800px) {
  nav ul li a {
    font-size : 15px;
    padding: 3px;
  }
}

@media (max-width: 740px) {
 
}





























